.wrapper{
    display: flex;

 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.accordian{
    width: 500px;
}
.item{
    background: #614101 ;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 5px;

}
.wrapper button{
    padding: 10px 20px;
    background: black;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    margin-top: 30px;
}
.title{
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.answer{
   background-color: yellow;
   color: black;
   border-radius: 5px;
}