.square{
    border-radius: none;
    border: 1px solid black;
    height: 100px;
    width: 100px;
}
.topone{
       
    height: 100vh;
  
   
    background-color: yellowgreen;
    grid-area: 0;
}
